---
layout: default
---

<div class="post">

  <h1 class="post-title">{{ page.title }}</h1>
 
  <div class="post-line"></div>
  <img src="{{site.url}}/assets/images/0201.png" style="width:20%;height:20%"/>
  {{ content }}



  <section class="contact">
    <ul>
        <li><a href="https://twitter.com/zakariaamine_" target="_blank"><i class="fa fa-twitter fa-4x animated-hover" aria-hidden="true"></i></a></li>
        <li><a href="https://github.com/zak905" target="_blank"><i class="fa fa-github fa-4x animated-hover"></i></a></li>
        <li><a href="https://stackoverflow.com/users/6387370/zakaria-amine" target="_blank"><i class="fa fa-stack-overflow fa-4x animated-hover" aria-hidden="true"></i></a></li>
        <li><a href="https://fr.linkedin.com/in/zakaria-amine-86702553" target="_blank"><i class="fa fa-linkedin fa-4x animated-hover" aria-hidden="true"></i></a></li>
        <li class="email"><a href="https://www.udemy.com/user/zakaria-109/" target="_blank"><i class="fa fa-briefcase fa-4x animated-hover" aria-hidden="true"></i></a></li>
    </ul>
  </section>

  <h2 class="about-separator"><span  class="line-center">Udemy Courses</span></h2>

  <div class="card-container">
  <div class="card">
    <a href="https://www.udemy.com/wordpress-devops-deploy-wordpress-using-kubernetes-docker" target="_blank"><img src="https://udemy-images.udemy.com/course/240x135/1759676_a038_2.jpg" alt="Avatar" style="width:100%"></a>
    <div class="container">
      <h4><b>Wordpress devops: deploy Wordpress using Kubernetes & docker</b></h4> 
    </div>
  </div>

  <div class="card">
    <a href="https://www.udemy.com/gwt-as-a-pure-java-to-javascript-transpiler" target="_blank"><img src="https://udemy-images.udemy.com/course/240x135/1616782_a685.jpg" alt="Avatar" style="width:100%"></a>
    <div class="container">
      <h4><b>GWT as a pure Java to JavaScript transpiler</b></h4> 
    </div>
  </div>

</div>

</div>

</div>