---
layout: default
---

<div class="post">

  <h1 class="post-title">{{ page.title }}</h1>
 
  <div class="post-line"></div>
  <img src="{{site.url}}/assets/images/0201.png" style="width:20%;height:20%"/>
  {{ content }}



  <section class="contact">
    <ul>
        <li><a href="https://twitter.com/zakariaamine_" target="_blank"><img src="{{site.url}}/assets/images/twitter.svg" height="50px" width="50px"></a></li>
        <li><a href="https://github.com/zak905" target="_blank"><img src="{{site.url}}/assets/images/github.svg" height="50px" width="50px"></a></li>
        <li><a href="https://stackoverflow.com/users/6387370/zakaria-amine" target="_blank"><img src="{{site.url}}/assets/images/stackoverflow.svg" height="50px" width="50px"></a></li>
        <li><a href="https://fr.linkedin.com/in/zakaria-amine-86702553" target="_blank"><img src="{{site.url}}/assets/images/linkedin.svg" height="50px" width="50px"></a></li>
        <li><a href="https://www.udemy.com/user/zakaria-109/" target="_blank"><img src="{{site.url}}/assets/images/udemy.svg" height="50px" width="50px"></a></li>
        <li><a href="https://www.upwork.com/o/profiles/users/~010452dedad146ffdc/" target="_blank"><img src="{{site.url}}/assets/images/upwork.svg" height="50px" width="50px"></a></li>
    </ul>
  </section>

  <div></div>

  <section style="margin-top: 100px;">
    <i class="fa fa-trophy fa-4x animated-hover" aria-hidden="true"></i>Open source contributions:
    <ul>
      <li><a href="https://github.com/openmrs" target="_blank">OpenMRS</a>: <a target="_blank" href="https://github.com/openmrs/openmrs-module-webservices.rest/pull/160">https://github.com/openmrs/openmrs-module-webservices.rest/pull/160</a></li>
      <li><a href="https://github.com/intuit/karate" target="_blank">Karate</a> testing framework: <a target="_blank" href="https://github.com/intuit/karate/issues/491">https://github.com/intuit/karate/issues/491</a></li>
      <li><a href="http://www.gwtproject.org/doc/latest/DevGuideCodingBasicsJsInterop.html" target="_blank">GWT</a> framework documentation: <a target="_blank" href="https://github.com/gwtproject/gwt-site/pull/253">https://github.com/gwtproject/gwt-site/pull/253</a></li>
      <li><a href="https://github.com/gwtproject/gwt" target="_blank">GWT</a> framework: <a target="_blank" href="https://gwt-review.googlesource.com/c/gwt/+/21580">https://gwt-review.googlesource.com/c/gwt/+/21580</a></li>
      <li><a href="https://github.com/gwidgets/gwty-leaflet" target="_blank">gwty-leaflet</a> (GWT Leaflet.js wrapper)</li>
      <li><a href="https://github.com/hybridgroup/gocv" target="_blank">gocv</a> (Golang wrapper for OpenCV): <a target="_blank" href="https://github.com/hybridgroup/gocv/pull/286">https://github.com/hybridgroup/gocv/pull/286</a></li>
      <li><a href="https://github.com/keycloak/keycloak" target="_blank">Keycloak</a>: <a target="_blank" href="https://github.com/keycloak/keycloak/pull/7176">https://github.com/keycloak/keycloak/pull/7176</a></li>
      <li><a href="https://github.com/keycloak/keycloak" target="_blank">Keycloak</a>: <a target="_blank" href="https://github.com/keycloak/keycloak/pull/7293">https://github.com/keycloak/keycloak/pull/7293</a></li>
      <li><a href="https://github.com/spring-projects/spring-vault" target="_blank">spring-vault</a>: <a target="_blank" href="https://github.com/spring-projects/spring-vault/pull/561">https://github.com/spring-projects/spring-vault/pull/561</a></li>
    </ul>
  </section>

</div>

</div>