---
layout: default
---

<div class="post">

  <h1 class="post-title">{{ page.title }}</h1>
 
  <div class="post-line"></div>
  <img src="{{site.url}}/assets/images/0201.png" style="width:20%;height:20%"/>
  {{ content }}



  <section class="contact">
    <ul>
        <li><a href="https://twitter.com/zakariaamine_" target="_blank"><i class="fa fa-twitter fa-4x animated-hover" aria-hidden="true"></i></a></li>
        <li><a href="https://github.com/zak905" target="_blank"><i class="fa fa-github fa-4x animated-hover"></i></a></li>
        <li><a href="https://stackoverflow.com/users/6387370/zakaria-amine" target="_blank"><i class="fa fa-stack-overflow fa-4x animated-hover" aria-hidden="true"></i></a></li>
        <li><a href="https://fr.linkedin.com/in/zakaria-amine-86702553" target="_blank"><i class="fa fa-linkedin fa-4x animated-hover" aria-hidden="true"></i></a></li>
        <li class="email"><a href="https://www.upwork.com/o/profiles/users/_~010452dedad146ffdc/" target="_blank"><i class="fa fa-briefcase fa-4x animated-hover" aria-hidden="true"></i></a></li>
    </ul>
  </section>
</div>

</div>